.searchEntry {
     @include flexColumn;
     padding-top: 40px;
     .logo {
          letter-spacing: -5px;
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
          @include mediaQuery(768px){
               font-size: 4rem;
               letter-spacing: -10px;
          }
     }
     .searchBar {
          width: 90vw;
          display: flex;
          border: 2px solid $search-bar-border;
          border-radius: 500px;
          padding: 0.15rem 0.25rem 0.15rem 0.75rem;
          @include mediaQuery(768px){
               width: 80vw;
               padding: 1.25rem 1.5rem;
          }
          @include mediaQuery(1025px){
               width: 60vw;
          }
          input[type="text"]{
               flex-grow: 1;
               font-size: 0.75rem;
               text-align: left;
               letter-spacing: 0.1rem;
               border: 0px;
               outline: none;
               min-width: 150px;
               @include mediaQuery(768px){
                    font-size: 1.25rem;
               }
          }
          .button {
               cursor: pointer;
               border: 0px;
               outline: none;
               background-color: transparent;
               min-width: 48px;
               min-height: 48px;
               i {
                    font-family: "Font Awesome 5 Free";
                    font-size: 1rem;
                    padding-right: 1rem;
                    @include mediaQuery(768px){
                         font-size: 1.5rem;
                    }
               }
          }
          .button:hover,.button:focus {
               i {
                    padding-bottom: 0.5rem;
                    padding-left: 0.5rem;
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
               }
          }
          .searchButton:hover,.searchButton:focus {
               i {
                    color: $logo-green;
               }
          }
          .clear:hover,.clear:focus {
               i {
                    color: $logo-red;
               }
          }
          .searchButton {
               @include mediaQuery(768px){
                    padding-left: 1rem;
               }
          }
          .clear {
               align-items: center;
               justify-content: center;
               color: $stats-color;
               border-right: thin solid $clear-button-color;
               @include mediaQuery(768px){
                    padding: 0rem 1rem;
               }
          }
     }
     .searchBar:hover,.searchBar:focus-within {
          box-shadow: 0px 2px 5px 2px $search-bar-border;
     }
}
.suggestion-box {
     position: absolute;
     top: 31%;
     left: 60%;
     z-index: 1000;
     width: 60%;
     max-height: 500px;
     background-color:white;
     border: 1px solid #ccc;
     overflow-y: auto;
     list-style: none;
     margin: 10px;
     padding: 0px;
     li {
          padding: 8px;
          cursor: pointer;
          &:hover {
               background-color:#f0f0f0;
          }
     }
     @include mediaQuery(280px){
          width: 90%;
          max-height: 600px;
          top: 24%;
          left: 3%;
     }
     @include mediaQuery(300px){
          width: 90%;
          max-height: 600px;
          top: 24%;
          left: 5%;
     }
     @include mediaQuery(500px){
          width: 70%;
          max-height: 600px;
          top: 25%;
          left: 10%;
     }
     @include mediaQuery(768px){
          max-height: 600px;
          top: 40%;
          li {
               padding: 12px;
               font-size: 1.1rem;
          }
     }
     @include mediaQuery(900px){
          max-height: 600px;
          top: 10%;
     }
     @include mediaQuery(1025px){
          width: 60%;
          max-height: 600px;
          top: 31%;
          left: 20%;
          li {
               padding: 16px;
               font-size: 1.2rem;
          }
     }
}